﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="TestWebService.Default" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:GridView ID="GridView1" runat="server">
        </asp:GridView>
    </div>
    <asp:Button ID="Button1" runat="server" Text="Raw message" 
        onclick="Button1_Click" />
    <asp:Button ID="Button2" runat="server" Text="Tile update" 
        onclick="Button2_Click" />
    <asp:Button ID="Button3" runat="server" Text="Toast" onclick="Button3_Click" />
    </form>
</body>
</html>
